* {
    font-family: 'Manrope', sans-serif;
}

.body-text {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-top: 20px;
    line-height: 1.8;
    color: #7C8087;
}

.bg_email {
    margin-top: 100px;
    background-image: url('../images/bg-email.jpg');
    width: 1110px;
    height: 288px;
}

.nav-item {
    font-size: 18px;
    margin-left: 40px;
}

.sub {
    color: #ffffff;
    font-weight: 700;
    font-size: 48px;
}

.navbar-collapse {
    margin-top: 20px;
    margin-bottom: 20px;
}

.jumbotron {
    text-align: center;
    background: #FBFBFB;
}

.jumbotron h1 {
    margin-top: 0px;
    font-size: 48px;
    font-weight: bold;
    letter-spacing: 0px;
    line-height: 1.2;

}

.jumbotron p {
    letter-spacing: 0.1px;
    line-height: 1.6;
    margin-top: 20px;
    font-size: 20px;
    color: #7C8087;
}

.btn-cta {
    margin-right: 15px;
    font-weight: 500;
    margin-top: 35px;
    width: 200px;
    height: 55px;
    font-size: 16px;
    color: white;
    background: #0F53FA;
    transition: .8s;
}

.btn-cta:hover {
    box-shadow: 0px 13px 21px #95b3ff;

}

.btn-cta-border {
    margin-left: 15px;
    margin-top: 35px;
    width: 200px;
    height: 55px;
    font-size: 16px;
    color: #0F53FA;
    border: solid 2px #0F53FA;
    transition: .5s;
}

.btn-cta-border:hover {
    background: #0F53FA;
    color: white;
}

.imac {
    margin-top: 30px;
}

.tools {
    margin-top: 150px;
}

.partners {
    margin-top: 30px;
}

.box-image {
    border-radius: 14px;
    width: 100%;
    padding: 48px 34px;
    background: #FBFBFB;
}

.dashboard-card {
    margin-top: 100px;
}

.space {
    margin-top: 50px;
}

.btn-purple {
    width: 140px;
    height: 44px;
    background: #7D6AFF;
    text-align: center;
    border-radius: 46px;
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
}

.text-blue {
    color: #0F53FA;
    font-weight: 500;
}

.btn-yellow {
    width: 140px;
    height: 44px;
    background: #FFD166;
    text-align: center;
    border-radius: 46px;
    color: #000000;
    font-weight: 400;
    font-size: 16px;
}

.section-footer {
    margin-top: 140px;
}

.section-footer ul {
    margin-top: 20px;
}

.section-footer ul li {
    margin-top: 10px;
}

.section-footer a {
    color: #000000;
}

.blue {
    margin-left: 7px;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 20px;
    color: #0F53FA;
}


[data-aos][data-aos][data-aos-duration="400"],
body[data-aos-duration="400"] [data-aos] {
    transition-duration: .7s;
}

html:not(.no-js) [data-aos^=zoom][data-aos^=zoom].aos-animate {
    opacity: 1;
    -webkit-transform: translateZ(0) scale(2);
    transform: translateZ(0) scale(1);
}

.bola-merah {
    width: 15px;
    height: 15px;
    margin-top: 20%;
    margin-left: 6%;
    border-radius: 50%;
    background: #FF6666;
    position: absolute;

}

.bola-biru {
    width: 20px;
    height: 20px;
    margin-top: 12%;
    margin-left: 78%;
    border-radius: 50%;
    background: #6675FF;
    position: absolute;
}


.text-section2 {
    margin-top: 0px;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 0px;
    line-height: 1.2;
}

.icon_r {
    width: 35px;
    height: 35px;
    background: #dfdddd;
    float: right;
    border-radius: 100%;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.icon_r:hover {
    background: #6675FF;
    color: #ffffff;
}

@media only screen and (max-width: 768px) {
    .jumbotron {
        text-align: left;
        background: #FBFBFB;
    }

    .box-image {
        margin-top: 30px;
    }

    .m-mobile {
        margin-top: 40px;
    }

    .jumbotron h1 {
        margin-top: 0px;
        font-size: 38px;
        font-weight: bold;
        letter-spacing: 0px;
        line-height: 1.2;
    }

    .section-footer h5 {
        margin-top: 30px;
    }


    .btn-cta {
        margin-right: 15px;
        font-weight: 500;
        margin-top: 30px;
        width: 150px;
        height: 50px;
        font-size: 16px;
        color: white;
        background: #0F53FA;
        transition: .8s;
    }

    .btn-cta-border {
        margin-left: 0px;
        width: 150px;
        height: 50px;
        font-size: 16px;
        color: #0F53FA;
        border: solid 2px #0F53FA;
        transition: .5s;
    }

    .jumbotron p {
        letter-spacing: 0.1px;
        line-height: 1.6;
        margin-top: 16px;
        font-size: 17px;
        color: #7C8087;
    }

}